[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/delimiteMate"]
	path = bundle/delimiteMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi
[submodule "bundle/vim-angular"]
	path = bundle/vim-angular
	url = https://github.com/burnettk/vim-angular
[submodule "bundle/vim-smooth-scroll"]
	path = bundle/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/moll/vim-node
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/yajs.vim"]
	path = bundle/yajs.vim
	url = https://github.com/othree/yajs.vim
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "bundle/vim-solidity"]
	path = bundle/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "bundle/tender.vim"]
	path = bundle/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
